{% extends 'base.html.twig' %}
 
 {% block title %}HISTORY{% endblock %}

 {% block stylesheets %}
  <link rel="stylesheet" href="/assets/reimbursement.css" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
   integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
   crossorigin="anonymous">
 {% endblock %}

 {% block body %}

 

 <header>
    {{ include('inc/navbar.html.twig') }}
</header> 

<section class="container">

<div class="jumbotron" >
<div style="display:flex">
      <a style="color: black; font-size: em; margin-bottom:50px"  href="/finance"><i class="fas fa-arrow-left"></i></a><br><br>
      
      <span style="color: black; font-size: em; margin-left:90%"   onclick="exportTableToExcel('example', 'records')" ><i class="fa fa-download" ></i></span><br><br>

</div>
    <div class="page-header">
       <h3>PAYMENT HISTORY</h3>

   </div>

<div style="margin-left : 60%; display:flex">

   <form class="form-inline my-2 my-lg-0" style="padding-bottom : 10px;" action="/finance/filter" method="POST" >
     
            
              <select id="culscore" name="smonth" class="form-control" style="margin : 7px;">
                <option value="" selected disabled>Start Month</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 </option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
               </select>
              <select id="culscore" name="emonth" class="form-control" style="margin : 7px;">
                <option value="" selected disabled>End Month</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 </option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <select id="culscore" name="year" class="form-control" style="margin : 7px;">
                <option value="" selected disabled>Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
              </select>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
   </form>
</div>
   
{% if result %}
   {% set i=0 %}


    <div class="panel-group" id="accordion">
        
          
          <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table display" id="example" width="100%">
              <thead>
                  <tr>
                   <th>Finance ID</th>

                  <th>Manager ID</th>
                  <th>Emp Id</th>
                    <th>Form ID</th>
                    <th>Total</th>
                    <th>Payment Date</th>
                </tr>
              </thead>
              <tbody>
                     {% for d in result %}
                    <tr>
                    <td> {{ result[i].financeid }}  </td>
                        <td> {{ result[i].managerid }}  </td>
                        <td> {{ result[i].empid }} </td>

                        <td> {{ result[i].formid }} </td>
                        <td> {{ result[i].total_exp }} </td>
                      <td> {{ result[i].payment_date | date("Y/m/d") }} </td>
                      </tr>
                      {% set i=i+1 %}
                          {% endfor %}

          </tbody>
          </table>
          </div>
          </div>

 {% endif %} 
 {% endblock %}

  {% block javascripts %}
        
  <script>

    function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    filename = filename?filename+'.xls':'excel_data.xls';
    
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        downloadLink.download = filename;
          downloadLink.click();
    }
}
        </script>
        
        




{% endblock %}






